$mainColor: #00b8ff;

.App {
  padding: 2rem 1rem 5rem;
}

.app-tit {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem 1rem;
}

.car-list__img {
  background-color: fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 2.5rem 1rem 1rem 1rem;
  position: relative;
}

.car-list__tag {
  position: absolute;
  top: 0.5rem;
  left: 0.55rem;
  display: flex;
  align-items: center;
  > span {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.car-list__cont {
  padding: 0 0.75rem;
}

.car-list__name {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  > p {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.car-list__price {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
  }

  > span {
    background-color: $mainColor;
    color: #fff;
    padding: 0.2rem 0.5rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

.car-list__info {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  > p {
    color: #666;
    font-size: 0.9rem;
    &:not(:last-child) {
      margin-right: 1rem;
      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 70%;
        background-color: #666;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        right: -9px;
      }
    }
  }
}

.car-list__groups {
  display: flex;
  align-items: center;
  > span {
    &:not(:last-child) {
      margin-right: 0.25rem;
      &::after {
        content: ',';
      }
    }
  }
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  > li {
    position: relative;
    margin: 0 0.5rem;
  }
}

.filter-list__tit {
  position: relative;
  > button {
    border: 1px solid #eee;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;

    &.active {
      background-color: $mainColor;
      border-color: $mainColor;
      color: #fff;
      padding-right: 1.5rem;
    }
  }

  &.filter-list__tit--single {
    > button {
      &.active {
        background-color: #000;
        color: $mainColor;
        padding-right: 0.5rem;
      }
    }
  }
}

.filter-list__reset {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 1rem;
  font-size: 1.25rem;
  color: #fff;
}

.filter-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.filter-modal__btns {
  background-color: #fff;
  width: 500px;
  max-height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: $mainColor;
  }

  button {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;

    &.active {
      background-color: $mainColor;
      color: #fff;
    }
  }
}

.filter-modal__close {
  position: absolute;
  top: -3rem;
  right: -0.5rem;
  font-size: 2.25rem;
  svg {
    path {
      stroke: #fff;
    }
  }
}

.filter-modal__dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.5rem);
  cursor: pointer;
}
